<launch>
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find grp-pourpre)/rviz_file/rviz_setup_slam.rviz" />
	<param name="/use_sim_time" value="true"/>
	<node pkg="rosbag" type="play" name="rec_data" args="--clock -l /home/pierrick.bougault/catkin_ws/src/git-larm/grp-pourpre/bagfiles/challenge-2.bag" />
	<node pkg="gmapping" type="slam_gmapping" name="gmapping" args="scan:scan" />
	<node pkg="grp-pourpre" type="vision.py" name="vision_py" output="screen" />
</launch> 
