<launch>
	<!-- turtlebot_teleop_key already has its own built in velocity smoother -->
  	<!--
	<node pkg="turtlebot_teleop" type="turtlebot_teleop_key" name="turtlebot_teleop_keyboard"  output="screen">
   	<param name="scale_linear" value="0.5" type="double"/>
    	<param name="scale_angular" value="1.5" type="double"/>
    	<remap from="turtlebot_teleop_keyboard/cmd_vel" to="cmd_vel"/>
  	</node> -->
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find grp-pourpre)/rviz_file/rviz_setup_slam.rviz" />
	<node type="stageros" name="stage" pkg="stage_ros" args="-d $(find stage_ros)/world/willow-erratic.world" />
	<node pkg="rosbag" type="record" name="rec_data" args="/home/pierrick/catkin_ws/src/UV_LARM/larm1_slam/launch" />
	<node pkg="gmapping" type="slam_gmapping" name="gmapping" args="scan:=base_scan" />
</launch> 
