<launch>
	<include file="$(find my_teleop)/launch/keyboard_teleop.launch">
	</include>
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find grp-pourpre)/rviz_file/rviz_setup_slam.rviz" />
	<node type="stageros" name="stage" pkg="stage_ros" args="-d $(find stage_ros)/world/willow-erratic.world" />
	<node type="slam_gmapping" pkg="gmapping" name="gmapping"/>

		<remap from="map" to="base_footprint" />
		
</launch>
